{% set footer = 'footer' %}
{% set page = 'index' %}
{% set front = 'front' %}
{%  extends 'templates/app.twig' %}

{% block content %}
  <section id="promo" class="row">
        <div class="container">
            <sapn class="icon"><i class="fa fa-wrench"></i></sapn>
            <br class="visible-xs"> Save your Money with <strong>Discount Specials</strong> in all our <strong>instruments</strong><br class="visible-xs">
            <!-- <a href="#">learn more</a> -->
        </div>
    </section> <!--Promo-->
    <section id="ourServices" class="row">
        <div class="container">
            <div class="row sectionTitle">
                <h4><i class="fa fa-wrench"></i> Our addtional Services</h4>
            </div> <!--Section Title-->
            <div class="row m_30">
                <div class="col-sm-3 serviceH">
                    <div class="serviceHinner row m0">
                        <img src="{{base_url()}}/images/services/service-block1.png" alt="" class="img-responsive">
                        <div class="row m0 tiTle">
                            <h4>Installation</h4>
                            <!-- <div class="row m0 learnMore"><a href="#"><span>learn more</span></a></div> -->
                        </div>
                    </div>
                </div> <!--Service-->
                <div class="col-sm-3 serviceH">
                    <div class="serviceHinner row m0">
                        <img src="{{base_url()}}/images/services/service-block2.png" alt="" class="img-responsive" height="100px">
                        <div class="row m0 tiTle">
                            <h4>Repairs of all instrument</h4>
                            <!-- <div class="row m0 learnMore"><a href="#"><span>learn more</span></a></div> -->
                        </div>
                    </div>
                </div> <!--Service-->
                <div class="col-sm-3 serviceH">
                    <div class="serviceHinner row m0">
                        <img src="{{base_url()}}/images/services/service-block3.png" alt="" class="img-responsive" height="100px">
                        <div class="row m0 tiTle">
                            <h4>Training</h4>
                            <!-- <div class="row m0 learnMore"><a href="#"><span>learn more</span></a></div> -->
                        </div>
                    </div>
                </div> <!--Service-->
                <div class="col-sm-3 serviceH">
                    <div class="serviceHinner row m0">
                        <img src="{{base_url()}}/images/services/service-block4.png" alt="" class="img-responsive">
                        <div class="row m0 tiTle">
                            <h4>Maintenance</h4>
                            <!-- <div class="row m0 learnMore"><a href="#"><span>learn more</span></a></div> -->
                        </div>
                    </div>
                </div> <!--Service-->
            </div>
        </div>
    </section> <!--Our Services-->
    <section id="ourTeam" class="row">
        <div class="container">
            <div class="row sectionTitle">
                <h4><i class="fa fa-user"></i> New Instrument</h4>
            </div> <!--Section Title-->
            <div class="row m_30">
                <div class="owl-carousel ourTeamSlide">
                    <div class="item teamMember">
                        <div class="row m0 teamMemberInner">
                            <div class="col-xs-6 p0">
                                <img src="{{base_url()}}/images/about/member1.jpg" alt="">
                                <div class="row m0 socialList">
                                   
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="row memIntro">
                                    <h4>Instrumental</h4>
                                    <h5>$1000</h5>
                                </div>
                                <div class="memAbout row">
                                   The Mitchell MD100CE Dreadnought Cutaway Electric-Acoustic Guitar has a full-sized cutaway dreadnought body with a spruce top and mahogany back and sides. The cutaway enhances playability by offering complete fingerboard access. 
                                </div>
                            </div>
                        </div> <!--Team Member Inner-->
                    </div> <!--Team Member-->
                    <div class="item teamMember">
                        <div class="row m0 teamMemberInner">
                            <div class="col-xs-6 p0">
                                <img src="{{base_url()}}/images/about/member2.jpg" alt="">
                                <div class="row m0 socialList">
                                  
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="row memIntro">
                                    <h4>Instrument</h4>
                                    <h5>$900</h5>
                                </div>
                                <div class="memAbout row">
                                    The MD100CE features a dovetail neck joint, compensated sadldle, real abalone rosette and scalloped bracing for improved resonance. The onboard AT3000 active preamp lets you plug in and play with confidence in any venue. This affordable instrument will give you years of playing pleasure. Case sold separately.
                                </div>
                            </div>
                        </div> <!--Team Member Inner-->
                    </div> <!--Team Member-->
                    <div class="item teamMember">
                        <div class="row m0 teamMemberInner">
                            <div class="col-xs-6 p0">
                                <img src="{{base_url()}}/images/about/member3.jpg" alt="">
                                <div class="row m0 socialList">
                                    
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="row memIntro">
                                    <h4>Instrument</h4>
                                    <h5>$1100</h5>
                                </div>
                                <div class="memAbout row">
                                    With this 10-disc set (9 DVDs and 1 CD), guitar master Steve Krenz shows you how to play beautifully and cleanly using his tried-and-true fingerstyle method. Each session is accompanied by both a beginner and an advanced workshop session. Best of all, you'll learn more than just "technique."
                                </div>
                            </div>
                        </div> <!--Team Member Inner-->
                    </div> <!--Team Member-->
                    <div class="item teamMember">
                        <div class="row m0 teamMemberInner">
                            <div class="col-xs-6 p0">
                                <img src="{{base_url()}}/images/about/member2.jpg" alt="">
                                <div class="row m0 socialList">
                                   
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="row memIntro">
                                    <h4>Instrument</h4>
                                    <h5>$800</h5>
                                </div>
                                <div class="memAbout row">
                                   The low-mass lugs lets the shell vibrate for superb tone and sustain. Yamaha's Air Seal System used for drum shell construction ensures each and every Yamaha drum shell is of uniform thickness and is perfectly round to achieve superior tone quality and durability.
                                </div>
                            </div>
                        </div> <!--Team Member Inner-->
                    </div> <!--Team Member-->
                    <div class="item teamMember">
                        <div class="row m0 teamMemberInner">
                            <div class="col-xs-6 p0">
                                <img src="{{base_url()}}/images/about/member3.jpg" alt="">
                                <div class="row m0 socialList">
                                   
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="row memIntro">
                                    <h4>Instrument</h4>
                                    <h5>$1200</h5>
                                </div>
                                <div class="memAbout row">
                                    This Yamaha Stage Custom birch drum shell pack is also great for the beginner or the working professional. The staggered diagonal seam allowed Yamaha to build a thin drum shell that will start round and stay round. 

                                </div>
                            </div>
                        </div> <!--Team Member Inner-->
                    </div> <!--Team Member-->
                </div>
            </div>
        </div>
    </section> <!--Our Team-->
   
{% endblock %}

{% block scripts %}
 
    
{% endblock %}