{% set footer = 'footer' %}
{% set page = 'menu' %}
{% set front = 'front' %}
{% extends 'templates/app.twig' %}

{% block content %}
    <section id="pageTitle" class="row">
        <div class="row m0 pageTitle"><span>Items Cart</span></div>
        <div class="row m0 breadcrumbRow">
            <ul class="list-inline">
                <li><a href="{{path_for('home')}}">home</a></li>
                <li><a href="{{path_for('menu')}}"><i class="fa fa-arrow-circle-right"></i> Part Details</a></li>
                <li><i class="fa fa-arrow-circle-right"></i>Cart</li>
            </ul>
        </div>
    </section> <!--Page Title-->

        <section id="blogPosts" class="row contentSection">
        <div class="container">
            <div class="row m_30">
                <div class="col-sm-8">
                      {% if basket.itemCount %}
                                            <div class="well">
                                                <table class="table table-striped table-condensed">
                                                    <thead>
                                                        <tr>
                                                            <th>Product</th>
                                                            <th>Price</th>
                                                            <th>Quantity</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for item in basket.all %}
                                                         <tr>
                                                            <td><a href="{{ path_for('product.get', {slug:item.slug})}}">{{ item.title}}</a></td>
                                                            <td>${{item.price | number_format(2) }}</td>
                                                            <td>
                                                                <form action="{{ path_for('cart.update', {slug:item.slug})}}" method="post" class="form-inline">
            
                                                                    <select name="quantity" class="form-control input-sm">
                                                                        {% for num in 1..item.stock %}
                                                                        <option value="{{num}}" 
                                                                        {% if num == item.quantity %}selected {% endif %}>{{num }}</option>
                                                                        {% endfor %}
                                                                        <option value="0">None</option>
                                                                    </select>
                                                                           {{ csrf.field | raw }} 
                                                                    <input type="submit"  class="btn btn-default btn-sm" value="save">
                                                                </form> 
                                                            </td>
                                                             
                                                        </tr>
                                                    {% endfor %}
                                                       
                                                    </tbody>
                                                </table>  
                                            <a href="{{ path_for('menu')}}">Add more items</a>
                                            </div> 
                                     {% else %}
                                        <p>You have not items in your cart. <a href="{{ path_for('menu') }}">Start Shopping</a></p>
                                     {% endif %}

                </div>
                             {% if basket.itemCount %}  
                            <div class="col-sm-4 sidebar">
                                <div class="categories">
                                <div class="well">
                                    {% if basket.all and basket.subTotal %}
                                        <h4>Cart summary</h4>

                                        <hr>
                                            {% include 'cart/partials/summary.twig'  %}

                                        <a href="{{ path_for('order.index') }}" class="btn btn-primary">Checkout</a>

                                    {% endif %}
                                </div>
                                </div> 

                    </div>
                    {% endif %}
     
                  
            </div>                        
        </div>
    </section> <!--Blog Posts-->
    
{% endblock %}