{% set page = 'admin' %}
{% set pages = 'order.view' %}
{% set product = 'order' %}
{% extends 'templates/app.twig' %}

{% block content %}
      <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Customer Order
        <small> </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Order</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content"> 
      <div class="row">
      <!-- {{ orders | json_encode }} -->
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Orders</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row"> 
               <div class="col-md-12">
                    {{ parent() }}
                  <table class="table" id="productss">
                      <thead>
                          <tr>
                              <th>#Order ID</th>
                              <th>Order date</th>
                              <th>Amount Paid ($)</th>
                              <th>Customer name</th>
                              <th>Email</th>
                              <th>Telephone</th> 
                              <th>Delivered</th> 
                              <th>Show Products</th> 
                          </tr>
                      </thead>
                      <tbody>
                      {% for order in orders %}
                          <tr>
                               
                              <td>{{ order.id }}</td>
                              <td>{{ order.created_at }}</td>
                              <td>{{ order.total }}</td>
                              <td>{{ order.customer.name }}</td>
                              <td>{{ order.customer.email }}</td>
                              <td>{{ order.customer.telephone }}</td>
                              <td><center>
                                  <form action="{{ path_for('order.deliver')}}" method="post"> 
                                      <input type="hidden" name="id" value="{{ order.id }}">
                              {% if order.delivered %}
                                      <!-- <input type="hidden" name="yes" value="0"> -->
                                      <button type="button" class="btn btn-success btn-sm">Yes</button> 
                                    {% else %}
                                    <input type="hidden" name="yes" value="1">
                                     <button type="submit" class="btn btn-primary btn-sm">No</button> 
                                    {% endif %}
                                        {{ csrf.field | raw }}
                                     </form> 
                                    </center>
                              </td>
                              <td>
                                  <button type="button" class="btn btn-primary btn-sm product" data-toggle="modal" data-target="#myModal" data-id="{{order.id}}">
                                    Show
                                    </button>
                              </td>
                          </tr>
                      {% endfor %}
                          
                      </tbody>
                         <tfoot>
                          <tr>
                              <th>#Order ID</th>
                              <th>Order date</th>
                              <th>Amount Paid ($)</th>
                              <th>Customer name</th>
                              <th>Email</th>
                              <th>Telephone</th>
                               <th>Delivered</th>  
                              <th>Show Products</th> 
                          </tr>
                      </tfoot>
                  </table>
                </div>
                 
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- ./box-body -->
            <div class="box-footer">
              <div class="row">
               
                
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
 <div class="example-modal" id="">
        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ordered Products</h4>
              </div>
              <div class="modal-body showproduct">
                <!-- <p>One fine body&hellip;</p> -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button> 
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
      </div>
      
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
{% block scripts %}
<script src="{{base_url()}}/js/jquery.dataTables.min.js"></script> 
<script src="{{base_url()}}/js/dataTables.bootstrap.min.js"></script> 
   <script type="text/javascript">
    $(document).ready(function(){
     
    });
     $(function () {
    $("#productss").DataTable();
    
  });
   </script> 
{% endblock %}